.body1 {
	margin: 0;
	background-color: skyblue;
}

.body2 {
	margin: 0;
	background-color: skyblue;
}

.body3 {
	margin: 0;
	background-color: skyblue;
}

.body4 {
	margin: 0;
	background-color: skyblue;
}
.topnav {
	overflow: hidden;
	background-color: lightblue;
}

.topnav a {
	color: #f2f2f2;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 25px;
}

.topnav a:hover {
	background-color: #ddd;
	color: black;
}

.topnav a.active {
	float: left;
	background-color: lightpink;
	color: white;
}	

.c1 {
	float: right;
}
.c2 {
	float: left;
}

.pic1{
	width: 25px;
	height: 25px;
}

#pic2{
	height: 600px;
}

#pic3{
	height: 600px;
}

#pic4{
	height: 600px;
}

.picsize{
  	margin: auto;
  	width: 60%;
  	padding: 100px
 }

 .picsize2{
 	margin: auto;
  	width: 20%;
  	padding: 1px;
 }

.cart{
	margin: auto;
  	width: 15%;
  	padding: 1px;
}
.button1{
	margin: auto;
  	width: 50%;
  	padding: 300px;
}
#signin{
	width: 40%;
}
.h1{
	margin: auto;
  	width: 15%;
  	padding: 1px;
}
.h2{
	margin: auto;
  	width: 50%;
  	padding: 2px;
}
